html {
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    background-color: #efefef;
}

header{
    background-color: #ee1;
    padding: 2rem 2rem;
}

header h1{
    text-align: center;
    color: #333;
    font-size: 3rem;
}
